<%# Renders an error UI response for billing page %>

<div>

  <aside class="flex justify-between bg-fill items-center p-4 rounded">
    <h3 class="font-semibold text-xl">Plan & Billing</h3>
  </aside>

  <section class="bg-fill rounded p-4">
    <h3 class="font-bold text-muted text-3xl text-center">Something's not right</h3>
    <p class="mt-4 text-muted text-lg text-center max-w-1/2">
      It looks like this account was not set up properly. Please contact support to make changes.
    </p>
  </section>

</div>
