<%#
  success
%>

<% success ||= false %>

<div id="email_subscribe" class="shadow-md bg-info/60 border-2 rounded-md border-info/80 px-4 py-5 mt-12">
  <p class="text-fill font-bold">Not quite ready to jump in?</p>
  <p class="text-sm text-slate-100">Pop in your email tp stay up to date with NotesPro.</p>

  <% if success %>
    <p class="mt-2 text-sm text-slate-500">Thanks!</p>
  <% else %>
    <%= form_with url: marketing_email_subscribes_path, class: "flex items-center gap-2 mt-2" do |form| %>
      <%= form.text_field :email, placeholder: "Your best email", class: "inline-block text-muted border-2 border-slate-300 rounded-md bg-slate-50 px-2 py-1 w-full min-h-[2rem] focus:outline-none break-words align-middle" %>
      <%= form.submit "Subscribe", class: "px-4 py-1 rounded bg-info text-fill" %>
    <% end %>
  <% end %>
</div>
