<div class="mt-8">
    <p class="font-bold text-xl">Past Notes</p>
    <ul class="flex flex-wrap flex-col md:flex-row gap-4 mt-4 w-full">
        

<li class="relative w-full md:w-80">
  <div class="bg-input rounded shadow-box relative p-4 overflow-hidden">
    <div class="absolute rounded top-0 left-0 w-full h-full">
        <div class="relative">
          <div class="absolute top-0 left-0 w-full h-full bg-black/30"></div>
          <img src="https://images.unsplash.com/photo-1508020963102-c6c723be5764?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3wzMzQ2NjR8MHwxfHNlYXJjaHwzfHxza3l8ZW58MHwwfHx8MTcwNzMyNDg3Nnww&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080&amp;utm_source=alices_terrific_client_app&amp;utm_medium=referral&amp;utm_campaign=api-credit" class="w-full rounded">
        </div>
    </div>

    <div class="relative z-10">
      <h5 class="font-semibold text-fill">
        Meant For Good
      </h5>

        <p class="text-fill text-xs">
          February 10, 2024
        </p>
    </div>
  </div>

  <a data-note-id="132" target="_blank" class="external-note absolute top-0 left-0 w-full h-full z-10" href="https://app.notespro.church/n/kkjkcrez5u"></a>

  <div class="hidden note-redirect-indicator absolute -top-2 -right-2 rounded bg-info text-sm text-fill flex font-bold px-2 py-1 items-center">
    Redirecting
    <i class="h-4 w-4 ml-1">
      <svg data-name="lightning" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="">
  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"></path>
</svg>

    </i>
  </div>
</li>

<li class="relative w-full md:w-80">
  <div class="bg-input rounded shadow-box relative p-4 overflow-hidden">
    <div class="absolute rounded top-0 left-0 w-full h-full">
        <div class="relative">
          <div class="absolute top-0 left-0 w-full h-full bg-black/30"></div>
          <img src="https://images.unsplash.com/photo-1492052722242-2554d0e99e3a?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMzQ2NjR8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTA4NDc2MjN8&ixlib=rb-4.0.3&q=80&w=1080&utm_source=alices_terrific_client_app&utm_medium=referral&utm_campaign=api-credit" class="w-full rounded">
        </div>
    </div>

    <div class="relative z-10">
      <h5 class="font-semibold text-fill">
        New Believers | Class 1
      </h5>

        <p class="text-fill text-xs">
          February 10, 2024
        </p>
    </div>
  </div>

  <a data-note-id="132" target="_blank" class="external-note absolute top-0 left-0 w-full h-full z-10" href="https://app.notespro.church/n/qruo5jitsf"></a>

  <div class="hidden note-redirect-indicator absolute -top-2 -right-2 rounded bg-info text-sm text-fill flex font-bold px-2 py-1 items-center">
    Redirecting
    <i class="h-4 w-4 ml-1">
      <svg data-name="lightning" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="">
  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"></path>
</svg>

    </i>
  </div>
</li>

<li class="relative w-full md:w-80">
  <div class="bg-input rounded shadow-box relative p-4 overflow-hidden">
    <div class="absolute rounded top-0 left-0 w-full h-full">
        <div class="relative">
          <div class="absolute top-0 left-0 w-full h-full bg-black/30"></div>
          <img src="https://images.unsplash.com/photo-1528222354212-a29573cdb844?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMzQ2NjR8MHwxfHNlYXJjaHwxMXx8cHJheWVyfGVufDB8MHx8fDE3MTA4NDkxMDR8MA&ixlib=rb-4.0.3&q=80&w=1080&utm_source=alices_terrific_client_app&utm_medium=referral&utm_campaign=api-credit" class="w-full rounded">
        </div>
    </div>

    <div class="relative z-10">
      <h5 class="font-semibold text-fill">
        Thoughts & Prayers | Small Groups
      </h5>

        <p class="text-fill text-xs">
          February 10, 2024
        </p>
    </div>
  </div>

  <a data-note-id="132" target="_blank" class="external-note absolute top-0 left-0 w-full h-full z-10" href="https://app.notespro.church/n/x5wxqxptze"></a>

  <div class="hidden note-redirect-indicator absolute -top-2 -right-2 rounded bg-info text-sm text-fill flex font-bold px-2 py-1 items-center">
    Redirecting
    <i class="h-4 w-4 ml-1">
      <svg data-name="lightning" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="">
  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"></path>
</svg>

    </i>
  </div>
</li>
        

<li class="relative w-full md:w-80">
  <div class="bg-input rounded shadow-box relative p-4 overflow-hidden">
    <div class="absolute rounded top-0 left-0 w-full h-full">
        <div class="relative">
          <div class="absolute top-0 left-0 w-full h-full bg-black/30"></div>
          <img src="https://images.unsplash.com/photo-1476231790875-016a80c274f3?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3wzMzQ2NjR8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDYyMTYzMTR8&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080&amp;utm_source=alices_terrific_client_app&amp;utm_medium=referral&amp;utm_campaign=api-credit" class="w-full rounded">
        </div>
    </div>

    <div class="relative z-10">
      <h5 class="font-semibold text-fill">
        Summer Discipleship | Week One
      </h5>

        <p class="text-fill text-xs">
          January 26, 2024
        </p>
    </div>
  </div>

  <a data-note-id="133" target="_blank" class="external-note absolute top-0 left-0 w-full h-full z-10" href="https://app.notespro.church/n/fbminjsbla"></a>

  <div class="hidden note-redirect-indicator absolute -top-2 -right-2 rounded bg-info text-sm text-fill flex font-bold px-2 py-1 items-center">
    Redirecting
    <i class="h-4 w-4 ml-1">
      <svg data-name="lightning" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="">
  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"></path>
</svg>

    </i>
  </div>
</li>


      <li class="hidden only:block -mt-4">
        <span class="text-slate-500">None</span>
      </li>
    </ul>
  </div>