<div>
  <div data-marketing--application-target="noteViewsChartData" data-values="[6,5,0,0,0,3,1,10,2,3,3,0,1,0,0,10,1,0,0,2,2,0,1,4,0,1,0,0,2,11,2]" data-labels="[&quot;Mar 14&quot;,&quot;&quot;,&quot;&quot;,&quot;Mar 11&quot;,&quot;&quot;,&quot;&quot;,&quot;Mar 08&quot;,&quot;&quot;,&quot;&quot;,&quot;Mar 05&quot;,&quot;&quot;,&quot;&quot;,&quot;Mar 02&quot;,&quot;&quot;,&quot;&quot;,&quot;Feb 28&quot;,&quot;&quot;,&quot;&quot;,&quot;Feb 25&quot;,&quot;&quot;,&quot;&quot;,&quot;Feb 22&quot;,&quot;&quot;,&quot;&quot;,&quot;Feb 19&quot;,&quot;&quot;,&quot;&quot;,&quot;Feb 16&quot;,&quot;&quot;,&quot;&quot;,&quot;Feb 13&quot;]"></div>

  <canvas data-marketing--application-target="noteViewsChart" class="max-h-[300px] w-full" style="display: block; box-sizing: border-box; height: 203px; width: 407px;" width="814" height="406"></canvas>
</div>
