<div>

  <aside class="flex justify-between bg-fill items-center p-4 rounded">
    <h3 class="font-semibold text-xl">Settings</h3>
  </aside>

  <div class="grid grid-cols-3 gap-4">

    <%# details section %>
    <section class="bg-fill rounded p-4 mt-8">
      <h3 class="mb-4 text-lg font-semibold">Details</h3>

      <div>
        <p>External Link</p>
        <p class="text-muted text-xs">
          This is the link where your attendees can find the notes for your account
        </p>
        <p class="mt-2 border bg-input p-2 rounded">
          <%= external_organization_url(current_organization.encoded_name) %>
        </p>
        <p>
          <%=
            link_to external_organization_url(current_organization.encoded_name),
              target: :_blank,
              class: "text-fill bg-primary px-2 py-1 rounded mt-2" do
          %>
            Visit &rarr;
          <% end %>
        </p>
      </div>
    </section>
  </div>

</div>
