<%# Partial to prevent some tailwind classes from tree-shaking %>

<div class="hidden bg-info bg-success bg-error"></div>

<%# Used for schedule row overlay %>
<div class="col-start-0 col-start-1 col-start-2 col-start-3 col-start-4 col-start-5 col-start-6 col-start-7 col-end-0 col-end-1 col-end-2 col-end-3 col-end-4 col-end-5 col-end-6 col-end-7 col-end-8"></div>

<%# used for dynamic nesting of list items (multiples of 4) %>
<div class="hidden ml-4 ml-8 ml-12 ml-16 ml-20 ml-24"></div>
