<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">

    <%= wicked_pdf_stylesheet_link_tag "application.build" %>
  </head>
  <body onload='number_pages' class="w-screen min-h-screen bg-fill flex justify-center font-sans" style="font-weight: 400;">
    <%= yield %>
  </body>
</html>
